<h1 id="tableLabel">Recently Updated Parliamentary Bills</h1>

<p *ngIf="!billsData?.items?.length"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="billsData.items.length">
  <thead>
    <tr>
      <th>Bill Id</th>
      <th>Short Title</th>
      <th>Current House</th>
      <th>Current Stage</th>
      <th>Last Update</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let bill of billsData.items">
      <td>{{ bill.billId }}</td>
      <td><a href="https://bills.parliament.uk/bills/{{ bill.billId }}" target="_blank">{{ bill.shortTitle }}</a></td>
      <td>{{ bill.currentHouse }}</td>
      <td>{{ bill.currentStage.description }}</td>
      <td>{{ bill.lastUpdate | date:'MMMM d, yyyy \'at\' HH:mm' }}</td>
    </tr>
  </tbody>
</table>
