<h1>Chris Brooksbank : Coach And Focus Website</h1>

<p>The source code for this project is in this <a href="https://github.com/ChrisBrooksbank/coachandfocus">public github repo.</a></p>

<p>Merging in a pull request will automatically build and deploy the website using <a href="https://github.com/ChrisBrooksbank/coachandfocus/actions">a github workflow</a></p>

<p>Single-page application, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>Set up:</p>
<ul>
  <li><strong>Client-side navigation</strong>. For example, click <em>Fetch Updated Bills</em> then <em>Back</em> to return here.</li>
  <li><strong>Angular CLI integration</strong>. In development mode, there's no need to run <code>ng serve</code>. It runs in the background automatically, so your client-side resources are dynamically built on demand and the page refreshes when you modify any file.</li>
  <li><strong>Efficient production builds</strong>. In production mode, development-time features are disabled, and your <code>dotnet publish</code> configuration automatically invokes <code>ng build</code> to produce minified, ahead-of-time compiled JavaScript files.</li>
</ul>
<p>The <code>ClientApp</code> subdirectory is a standard Angular CLI application. If you open a command prompt in that directory, you can run any <code>ng</code> command (e.g., <code>ng test</code>), or use <code>npm</code> to install extra packages into it.</p>

<p>Recent coach and focus projects</p>
<ul>
  <li>
    <a target="_blank" href="https://ukparliamentendpoints-services.azurewebsites.net/swagger/index.html">endpoints api</a>
  </li>
  <li>
    <a target="_blank" href="https://ukparlyendpointsfuncapp.azurewebsites.net/api/Check?name=ChrisB">azure functions</a>
  </li>
  <li>
    <a target="_blank" href="https://ukparliamentendpointsadmin.azurewebsites.net/">endpoints admin ( blazor )</a>
  </li>
</ul>

<p>Archived personal / coach and focus</p>
<ul>
  <li>
    <a target="_blank" href="https://gitlab.parliament.uk/users/brooksbankc/projects">gitlab</a>
  </li>
  <li>
    <a target="_blank" href="https://designsystemplayground.z13.web.core.windows.net/">design system playground</a>
  </li>
  <li>
    <a target="_blank" href="https://autohanamikojistorage.z33.web.core.windows.net/">hanamikoji</a>
  </li>
  <li>
    <a target="_blank" href="https://autocardboardapi.azurewebsites.net/play?game=pandemic">pandemic api</a>
  </li>
  <li>
    <a target="_blank" href="https://pandemicgameviewer.z13.web.core.windows.net/">pandemic game viewer</a>
  </li>
</ul>
